/* Darcula by Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula) */

.base00-bg { background-color: #2B2B2B; }
.base01-bg { background-color: #323232; }
.base02-bg { background-color: #214283; }
.base03-bg { background-color: #808080; }
.base04-bg { background-color: #D0D0D0; }
.base05-bg { background-color: #D8D8D8; }
.base06-bg { background-color: #E8E8E8; }
.base07-bg { background-color: #F8F8F8; }
.base08-bg { background-color: #79ABFF; }
.base09-bg { background-color: #9876AA; }
.base0A-bg { background-color: #A9B7C6; }
.base0B-bg { background-color: #A5C25C; }
.base0C-bg { background-color: #629755; }
.base0D-bg { background-color: #FFC66D; }
.base0E-bg { background-color: #CC7832; }
.base0F-bg { background-color: #D25252; }

.base00 { color: #2B2B2B; }
.base01 { color: #323232; }
.base02 { color: #214283; }
.base03 { color: #808080; }
.base04 { color: #D0D0D0; }
.base05 { color: #D8D8D8; }
.base06 { color: #E8E8E8; }
.base07 { color: #F8F8F8; }
.base08 { color: #79ABFF; }
.base09 { color: #9876AA; }
.base0A { color: #A9B7C6; }
.base0B { color: #A5C25C; }
.base0C { color: #629755; }
.base0D { color: #FFC66D; }
.base0E { color: #CC7832; }
.base0F { color: #D25252; }
