# Base16 Darcula
# Author: Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula)

[global_config]
  title_transmit_fg_color = "#D8D8D8"
  title_transmit_bg_color = "#2B2B2B"
  title_inactive_fg_color = "#D8D8D8"
  title_inactive_bg_color = "#808080"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2B2B2B"
    foreground_color = "#D8D8D8"
    cursor_color = "#D8D8D8"
    palette = "#2B2B2B:#79ABFF:#A5C25C:#A9B7C6:#FFC66D:#CC7832:#629755:#D8D8D8:#808080:#9876AA:#323232:#214283:#D0D0D0:#E8E8E8:#D25252:#F8F8F8"
