/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Darcula scheme by Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula) */

window {
	background-color: #2B2B2B;
	color: #D8D8D8;
}

#entry:nth-child(odd) {
	background-color: #2B2B2B;
}

#entry:nth-child(even) {
	background-color: #323232;
}

#entry:selected {
	background-color: #214283;
}

#input {
	background-color: #323232;
	color: #D0D0D0;
	border-color: #214283; 
}

#input:focus {
	border-color: #A9B7C6; 
}
