# Base16 Darcula
# Author: Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula)

_gen_fzf_default_opts() {

local color00='#2B2B2B'
local color01='#323232'
local color02='#214283'
local color03='#808080'
local color04='#D0D0D0'
local color05='#D8D8D8'
local color06='#E8E8E8'
local color07='#F8F8F8'
local color08='#79ABFF'
local color09='#9876AA'
local color0A='#A9B7C6'
local color0B='#A5C25C'
local color0C='#629755'
local color0D='#FFC66D'
local color0E='#CC7832'
local color0F='#D25252'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
