## Base16 Darcula
# Author: Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2B2B2B
text-color=#D8D8D8
border-color=#FFC66D

[urgency=low]
background-color=#2B2B2B
text-color=#A9B7C6
border-color=#FFC66D

[urgency=high]
background-color=#2B2B2B
text-color=#79ABFF
border-color=#FFC66D
