! Base16 Darcula
! Author: Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula)

! base00: #2B2B2B
! base01: #323232
! base02: #214283
! base03: #808080
! base04: #D0D0D0
! base05: #D8D8D8
! base06: #E8E8E8
! base07: #F8F8F8
! base08: #79ABFF
! base09: #9876AA
! base0A: #A9B7C6
! base0B: #A5C25C
! base0C: #629755
! base0D: #FFC66D
! base0E: #CC7832
! base0F: #D25252

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #323232, #323232, #2B2B2B

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #323232, #D8D8D8, #323232, #323232, #F8F8F8
rofi.color-active:  #323232, #FFC66D, #323232, #323232, #FFC66D
rofi.color-urgent:  #323232, #79ABFF, #323232, #323232, #79ABFF

! Set the desired separator style
rofi.separator-style: solid
