[colors]
# Base16 Darcula
# Author: Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula)

foreground          = #D8D8D8
foreground_bold     = #D8D8D8
cursor              = #D8D8D8
cursor_foreground   = #2B2B2B
background          = #2B2B2B

# 16 color space

# Black, Gray, Silver, White
color0  = #2B2B2B
color8  = #808080
color7  = #D8D8D8
color15 = #F8F8F8

# Red
color1  = #79ABFF
color9  = #79ABFF

# Green
color2  = #A5C25C
color10 = #A5C25C

# Yellow
color3  = #A9B7C6
color11 = #A9B7C6

# Blue
color4  = #FFC66D
color12 = #FFC66D

# Purple
color5  = #CC7832
color13 = #CC7832

# Teal
color6  = #629755
color14 = #629755

# Extra colors
color16 = #9876AA
color17 = #D25252
color18 = #323232
color19 = #214283
color20 = #D0D0D0
color21 = #E8E8E8
