## Base16 Darcula
# Author: Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula)

set $base00 #2B2B2B
set $base01 #323232
set $base02 #214283
set $base03 #808080
set $base04 #D0D0D0
set $base05 #D8D8D8
set $base06 #E8E8E8
set $base07 #F8F8F8
set $base08 #79ABFF
set $base09 #9876AA
set $base0A #A9B7C6
set $base0B #A5C25C
set $base0C #629755
set $base0D #FFC66D
set $base0E #CC7832
set $base0F #D25252
